<!DOCTYPE html>
<html>
  <head>
    <title>Tootsie</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= if final[:notice]%>
      <div class="notification is-link global-notification">
          <p class="notice"><%=notice%></p>
      </div>
    <%end%>

    <%= if final[:alert]%>
      <div class="notification is-danger global-notification">
          <p class="alert"><%=alert%></p>
      </div>
    <%end%>
    <%= yield %>
  </body>
</html>
